<% content_for :head do %>

<title>Visi Laidojimo Namai Vilniuje</title>
<meta content="Raskite tinkamiausią pasiūlymą laidojimo bei kremavimo paslaugoms Vilniuje." name="description">

<meta property="og:title" content="Visi Laidojimo Namai ir Kremavimo Paslaugos Vilniuje"/>
<meta property="og:url" content="https://ladijoma.herokuapp.com/"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Raskite tinkamiausią pasiūlymą laidojimo bei kremavimo paslaugoms Vilniuje."/>
<!-- <meta property="og:image" content="http://localvilnius.guide/assets/vilnius-clubs-13eb994054c23d8ecf732eb40ab4bd34426bebc1a40660bcd7c7fcacc0a470ce.jpg"/> -->
<% end %>

<div class="background-gradient">
<div class="cover-image parallax" style="background:url(<%= image_path 'laidojimo_namai' %>);  height: 480px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="text-center padding-top-cover">
          <!-- <h1>Visi Laidojimo Namai ir Kremavimo Paslaugos Vilniuje</h1> -->
          <!-- <h3>Užsisakyk internetu tinkamiausią pasiūlymą laidojimo bei kremavimo paslaugoms Vilniuje.</h3> -->
          <h1 style="color: rgba(17, 136, 203, 0.82);
    font-weight: 600;">Visos Laidojimo ir Kremavimo Paslaugos Vilniuje</h1>
          <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning", style:"    font-size:25px;margin-top: 14px;"%>
          <h4 style="color: rgba(34, 34, 34, 0.68);">arba telefonu</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <div class="col-md-6" style="
    background-color: rgba(241, 231, 231, 0.35);">
      <div class="padding-top-90">
        <div class="card">

          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'nutrukusi_styga' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Nutrūkusi styga</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Adresas:</span > Ąžuolyno g. 10, Viršuliškės, Vilnius</h2>

            <h2><i class="fa fa-phone" style="color: #333;" aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Telefonas:</span > <a href="tel:+37052142618" style="font-weight: bolder;">+37052142618</a></h2>


            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> 7 šarvojimo salės</h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'lakrima' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Lakrima</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>


            <h2><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Adresas:</span > Kalvarijų g. 67, Šnipiškės, Vilnius</h2>

            <h2><i class="fa fa-phone" style="color: #333;" aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Telefonas:</span > <a href="tel:+37052142400" style="font-weight: bolder;">+37052142400</a></h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia cerkvės</h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_rumai' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo rūmai</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>


            <h2><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Adresas:</span > Olandų g. 22,  Vilnius</h2>

            <h2><i class="fa fa-phone" style="color: #333;" aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Telefonas:</span > <a href="tel:+37052143013" style="font-weight: bolder;">+37052143013</a></h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> 9 šarvojimo salės</h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Adresas:</span > J.Matulaičio a. 3, Viršuliškės, Vilnius</h2>

            <h2><i class="fa fa-phone" style="color: #333;" aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Telefonas:</span > <a href="tel:+37052143002" style="font-weight: bolder;">+37052143002</a></h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras_kalvarijos' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Adresas:</span > Kalvarijų g. 329, Jeruzalė, Vilnius</h2>

            <h2><i class="fa fa-phone" style="color: #333;" aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Telefonas:</span > <a href="tel:+37052141994" style="font-weight: bolder;">+37052141994</a></h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras_tolminkiemio' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>


            <h2><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Adresas:</span > Tolminkiemio g. 4, Pilaitė, Vilnius</h2>

            <h2><i class="fa fa-phone" style="color: #333;" aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Telefonas:</span > <a href="tel:+37052142745" style="font-weight: bolder;">+37052142745</a></h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras_paco' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>


            <h2><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Adresas:</span > Paco g. 4, Antakalnis, Vilnius</h2>

            <h2><i class="fa fa-phone" style="color: #333;" aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Telefonas:</span > <a href="tel:+37052140441" style="font-weight: bolder;">+37052140441</a></h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras_palydovo' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>


            <h2><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Adresas:</span > Palydovo g. 13, Naujoji Vilnia, Vilnius</h2>

            <h2><i class="fa fa-phone" style="color: #333;" aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Telefonas:</span > <a href="tel:+37052140399" style="font-weight: bolder;">+37052140399</a></h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>

        <div class="card" >
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'reverans' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Reverans</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Adresas:</span > Molėtų g. 4a, Didžioji Riešė, Vilnius</h2>

            <h2><i class="fa fa-phone" style="color: #333;" aria-hidden="true"></i>  <span style="font-weight: 400; color: #333;">Telefonas:</span > <a href="tel:+37052142825" style="font-weight: bolder;">+37052142825</a></h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2>  </h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'nera' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Smėlio pilis</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas: </span >Vilniaus g. 57, Grigiškės, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk internetu", form_path, class:"btn btn-warning float-right"%>

           </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" style="
    background-color: rgba(241, 231, 231, 0.35);">
      <div class="padding-top-90" style="height: 2870px;">
        <div style=" position: sticky;position: -webkit-sticky; top: 0;">
          <img src="<%= image_path 'map' %>" alt="" class="map">
          <!-- <div class="text-center">
            <h3><i class="fa fa-phone" aria-hidden="true" style="color:green;"></i> Telefonas visą parą: <a href="tel:+37069304228">869304228</a></h3>
          </div> -->
        </div>
      </div>
    </div>
  </div>


<!-- </div> -->
<!-- </div> -->






