<% content_for :head do %>

<title>Visi Laidojimo Namai Vilniuje</title>
<meta content="Paskambinkite mums ir gaukite tinkamiausią pasiūlymą laidojimo paslaugoms Vilniuje. Telefonas visą parą:869304228" name="description">

<meta property="og:title" content="Visi Laidojimo Namai Vilniuje"/>
<meta property="og:url" content="https://ladijoma.herokuapp.com/"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Paskambinkite mums ir gaukite tinkamiausią pasiūlymą laidojimo paslaugoms Vilniuje. Telefonas visą parą:869304228"/>
<!-- <meta property="og:image" content="http://localvilnius.guide/assets/vilnius-clubs-13eb994054c23d8ecf732eb40ab4bd34426bebc1a40660bcd7c7fcacc0a470ce.jpg"/> -->
<% end %>

<div class="background-gradient">
<div class="cover-image shadow" style="background:url(<%= image_path 'laidojimo_namai' %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-7">
        <div class="text-center padding-top-cover">
          <h1>Laidojimo ir Kremavimo Paslaugos Vilniuje</h1>
          <h3>Skambinkite ir mes Jums rasime tinkamiausią pasiūlymą laidojimo bei kremavimo paslaugoms Vilniuje. Telefonas visą parą <a href="tel:+37069304228">869304228</a> </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <div class="col-md-6">
      <div class="padding-top-90">
        <div class="card">

          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'nutrukusi_styga' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Nutrūkusi styga</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas:</span > Ąžuolyno g. 10, Viršuliškės, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> 7 šarvojimo salės</h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'lakrima' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Lakrima</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas:</span > Kalvarijų g. 67, Šnipiškės, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia cerkvės</h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_rumai' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo rūmai</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas:</span > Olandų g. 22,  Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> 9 šarvojimo salės</h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas: </span >J.Matulaičio a. 3, Viršuliškės, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras_kalvarijos' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas: </span >Kalvarijų g. 329, Jeruzalė, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras_tolminkiemio' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas: </span >Tolminkiemio g. 4, Pilaitė, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras_paco' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas: </span >Paco g. 4, Antakalnis, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'laidojimo_centras_palydovo' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Laidojimo centras</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas: </span >Palydovo g. 13, Naujoji Vilnia, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>

        <div class="card" >
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'reverans' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Reverans</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas: </span >Molėtų g. 4a, Didžioji Riešė, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Visos laidojimo paslaugos</h2>
              <h2>  </h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>


        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= image_path 'nera' %>" alt="" class="picture">
            </div>

           <div class="col-md-6">
            <h1>Smėlio pilis</h1>
            <div class="margin">
              <i class="fa fa-star star-color" aria-hidden="true"></i>
              <i class="fa fa-star star-color" aria-hidden="true"></i>
            </div>
            <div class="margin-top-15"></div>

            <h2><span style="font-weight: 400;">Adresas: </span >Vilniaus g. 57, Grigiškės, Vilnius</h2>

            <div class="margin-top-15"></div>
              <h2><i class="fa fa-check green" aria-hidden="true"></i> Šalia bažnyčios</h2>


            <%= link_to "užsisakyk", form_path, class:"btn btn-warning float-right", 'data-target' => "#myModal", 'data-toggle' => "modal"%>

           </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="padding-top-90" style="height: 2870px;">
        <div style=" position: sticky;position: -webkit-sticky; top: 0;">
          <img src="<%= image_path 'map' %>" alt="" class="map">
          <div class="text-center">
            <h3><i class="fa fa-phone" aria-hidden="true" style="color:green;"></i> Telefonas visą parą: <a href="tel:+37069304228">869304228</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- </div> -->
<!-- </div> -->



<%= render 'shared/modal' %>




