

<div class="col-md-3" style="background-color: rgba(241, 231, 231, 0.35);">
  <div class="" style="padding-top: 50px; height: 1500px;">
    <div style=" position: sticky;position: -webkit-sticky; top: 0;">
      <div id="map" style="width: 100%; height: 100vh;"></div>
    </div>
  </div>
</div>

<div class="col-md-6 padding-top-90">
  <div class="col-md-12">
    <div class="col-md-5">
      <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00001-8-1-1024x576.jpg"/>
      <div style="margin-top: 20px"></div>
    <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00005-3-1-1024x576.jpg"/>
    </div>
    <div class="col-md-7">
      <img class="prof-img" src="http://res.cloudinary.com/dwrc1zdc9/image/upload/v1502918759/rumai-foto.jpg"/>

  <div style="margin-top: 20px"></div>
    <div class="row">
      <div class="col-md-12" style="padding: 0px;">
       <div class="col-md-4" style="padding: 5px;">
         <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/2a-1024x576.jpg"/>
       </div>
       <div class="col-md-4" style="padding: 5px;">
         <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00005-11-1024x576.jpg"/>
       </div>
       <div class="col-md-4" style="padding: 5px;">
         <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00001-15-1-1024x576.jpg"/>
        </div>
      </div>
    </div>
    </div>
  </div>


<div style="border-bottom-style: inset;">
  <ul style="display: inline-flex;">
    <div class="tabs" style="    padding-top: 20px;
    padding-bottom: 13px;font-size: 23px;font-weight: 200;">
      <a style="cursor: pointer; margin-right: 20px;" class="tab active" data-target="#paslaugos" onmouseover="" style="cursor: pointer;">Paslaugos
      </a>
      <a style="cursor: pointer; margin-right: 20px;" class="tab" data-target="#sales" onmouseover="" style="cursor: pointer;">Salės</a>
      <a style="cursor: pointer; margin-right: 20px;" class="tab" data-target="#apie">Apie Namus</a>
    </div>
  </ul>
</div>

<br>

<div class="tab-content" id="paslaugos">

<h2>Paslaugų paketai:</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Biudžetinis</th>
        <th>Tradicinis</th>
        <th>Pagarbus</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Palaikų pervežimas (Vilniaus m.)</th>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th scope="row">Duobkasių paslaugos (Vilniaus m.)</th>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th scope="row">Kuno paruošimas šarvojimui</th>
        <td>Pradinis</td>
        <td>Pilnas</td>
        <td>Pilnas + <br> Balzamavimas</td>
      </tr>
      <tr>
        <th scope="row">Palaikų laikymas</th>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th scope="row">Karsto nešimas</th>
        <td></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th scope="row">Laikinas paminklas su lentele</th>
        <td></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th scope="row">Nuotraukos paruošimas</th>
        <td></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th scope="row">Dokumentų sutvarkymas</th>
        <td></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th scope="row">Nekrologas</th>
        <td></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th scope="row">Muzikinis fonas</th>
        <td></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
        <td><i class="glyphicon glyphicon-ok-sign green-circle" style="    font-size: 25px;" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th scope="row">Gėlės ir vainikai</th>
        <td></td>
        <td>Paprastas <br>komplektas</td>
        <td>Prabangus <br>komplektas</td>
      </tr>
      <tr>
        <th scope="row">Apranga</th>
        <td>Papraščiausi rūbai</td>
        <td>Kokybiški rūbai</td>
        <td>Kokybiški rūbai</td>
      </tr>
      <tr>
        <th scope="row">Karstas</th>
        <td><img style="width: 120px" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/phoca_thumb_l_19.png"/><br>Fanierinis</td>
        <td><img style="width: 120px" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/phoca_thumb_l_2-1.png"/><br>Medinis</td>
        <td><img style="width: 120px" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/phoca_thumb_l_9.png"/><br>Ąžuolinis</td>
      </tr>
      <tr>
        <th scope="row">Šarvojimo salė</th>
        <td><img style="width: 120px" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00004-6-1-1024x576.jpg"/><br>Maža (iki 30)</td>
        <td><img style="width: 120px" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00001-8-1-1024x576.jpg"/><br>Vidutinė (iki 50)</td>
        <td><img style="width: 120px" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00005-3-1-1024x576.jpg"/><br>Didelė (iki 100)</td>
      </tr>
    </tbody>

    <thead >
      <tr>
        <th></th>
        <th style="text-align: center;">1000 Eur <br><div class="text-center"><%= link_to "užsakykite", uzsakymo_forma_path(type: "Biudžetinis", name: "Laidojimo rūmai", price: 1000, email: "zibutis@matchmythesis.com"), class:"btn btn-warning"%>
          </div></th>
        <th style="text-align: center;">1500 Eur <br><div class="text-center"><%= link_to "užsakykite", uzsakymo_forma_path(type: "Tradicinis",name: "Laidojimo rūmai",price: 1500, email: "zibutis@matchmythesis.com"), class:"btn btn-warning"%>
          </div></th>
        <th style="text-align: center;">2300 Eur <br><div class="text-center"><%= link_to "užsakykite", uzsakymo_forma_path(type: "Pagarbus", name: "Laidojimo rūmai", price: 2300, email: "zibutis@matchmythesis.com"), class:"btn btn-warning"%>
          </div></th>
      </tr>
    </thead>
  </table>
</div>









<div class="tab-content hidden" id="sales">
<h2 >Salės</h2>
  <div style="margin-top: 40px"></div>
  <div id="mid" class="groupes">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
        <!-- <h3>Salė nmr 4</h3> -->
        <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00001-8-1-1024x576.jpg"/>
        <h4>Talpina iki 50</h4>
        <label style="font-size: 20px;font-weight: 100;" class="radio-inline"><input type="radio" name="optradio" style="height: 22px;
        width: 20px; border: 0px;"> Salė nmr 4</label>

        </div>
            <div class="col-md-4" style="">
        <!-- <h3>Salė nmr 9</h3> -->
        <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00005-11-1024x576.jpg"/>
        <h4>Talpina iki 45</h4>
        <label style="font-size: 20px;font-weight: 100;" class="radio-inline"><input type="radio" name="optradio" style="height: 22px;
        width: 20px; border: 0px;"> Salė nmr 9</label>

        </div>
            <div class="col-md-4">
        <!-- <h3>Salė nmr 1</h3> -->
        <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00005-6-1024x576.jpg"/>
        <h4>Talpina iki 45</h4>
        <label style="font-size: 20px;font-weight: 100;" class="radio-inline"><input type="radio" name="optradio" style="height: 22px;
        width: 20px; border: 0px;" checked> Salė nmr 1</label>

        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 40px"></div>
  <div id="max" class="groupes">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
        <!-- <h3>Salė nmr 4</h3> -->
        <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00005-3-1-1024x576.jpg"/>
        <h4>Talpina iki 50</h4>
        <label style="font-size: 20px;font-weight: 100;" class="radio-inline"><input type="radio" name="optradio" style="height: 22px;
        width: 20px; border: 0px;"> Salė nmr 2</label>

        </div>
            <div class="col-md-4" style="">
        <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00001-11-2-1024x576.jpg"/>
        <h4>Talpina iki 45</h4>
        <label style="font-size: 20px;font-weight: 100;" class="radio-inline"><input type="radio" name="optradio" style="height: 22px;
        width: 20px; border: 0px;"> Salė nmr 5</label>

        </div>
            <div class="col-md-4">
        <img class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/2a-1024x576.jpg"/>
        <h4>Talpina iki 45</h4>
        <label style="font-size: 20px;font-weight: 100;" class="radio-inline"><input type="radio" name="optradio" style="height: 22px;
        width: 20px; border: 0px;"> Salė nmr 6</label>

        </div>
      </div>
    </div>
  </div>
</div>



<div class="tab-content hidden" id="apie">
<div class="wpb_wrapper">
      <p style="text-align: justify;">Mūsų darbas – padėti žmonėms skaudžią netekties valandą. Suprantame, kaip nelengva tokiomis akimirkomis, todėl esame itin dėmesingi visiems, kurie į mus kreipiasi. Mes nuoširdžiai patariame ir konsultuojame – kiekvieną dieną nuo 8 val. iki 19 val. galite užeiti pas mus į priimamąjį Olandų g. 22 Vilniuje, bet kuriuo paros metu galite drąsiai skambinti telefonu 8614 45409 arba 85 2153782. Visą būtinąją informaciją teikiame nemokamai, profesionaliai suteikiame visas su pargabenimu, šarvojimu ir laidojimu susijusias paslaugas, padedame pagarbiai atsisveikinti su amžiams išėjusiais.</p>
<p style="text-align: justify;">Mes, kaip ir Jūs, rūpinamės savo brangiais žmonėmis, o kasdien susidurdami su netekties skausmu ypač aiškiai suvokiame svarbiausių dalykų vertę, todėl primename ir raginame – būkime dėmesingi ir padėkime vienas kitam, branginkime gyvenimą ir savo artimuosius.</p>
<p style="text-align: justify;"><strong>Mūsų patirtis – 40 metų nuoširdaus darbo</strong></p>
<p style="text-align: justify;">Vilniaus laidojimo rūmai „Ritualas“&nbsp;tęsia pirmosios mūsų šalyje civilinio laidojimo paslaugų įmonės veiklą.&nbsp;Pastato Olandų gatvėje pirmas korpusas buvo pastatytas ir pradėjo veikti 1975 metais, antras – 1986-aisiais. 2004&nbsp;metais jis perėjo į privačias rankas.</p>
<p style="text-align: justify;">Pavadinimas Vilniaus laidojimo rūmai „Ritualas“ įregistruotas 2015 metų rugpjūtį.</p>
<p style="text-align: justify;">Per kelis dešimtmečius mes įgijome neįkainojamos patirties ir pelnėme žmonių pasitikėjimą.&nbsp;Mūsų bendrovė ir šiuo metu yra viena didžiausių laidojimo paslaugų įmonių Lietuvoje ir Europoje. Pargabenimo ir laidojimo paslaugas mes teikiame ne tik mūsų šalyje (Vilniuje bei kituose miestuose), bet ir užsienyje (patirtis Baltarusijoje, Italijoje, Ispanijoje, Lenkijoje, Norvegijoje, Rusijoje, Švedijoje, taip pat JAV, Kanadoje, Azijos šalyse Afganistane Irane, Pakistane, Sirijoje ir kitose).</p>
<p style="text-align: justify;">Vilniaus laidojimo rūmuose „Ritualas“ šiuo metu dirba daugiau nei pusšimtis specialiai šiam darbui apmokytų specialistų.</p>
<p style="text-align: justify;"><strong>Gerbiame kiekvieną tikėjimą ir papročius</strong></p>
<p style="text-align: justify;">Mes gerbiame kiekvieno žmogaus tikėjimą, todėl pagal individualius poreikius organizuojame šarvojimo ir laidojimo ceremonijas – jose gali dalyvauti ir katalikų, ir ortodoksų kunigai, ir rabinai. Vyksta ir netikinčiųjų ceremonijos.</p>
<p style="text-align: justify;"><strong>Atsižvelgiame į individualius poreikius</strong></p>
<p style="text-align: justify;">Dėl gerų šarvojimo sąlygų, išskirtinės aplinkos ir kokybiško aptarnavimo Vilniaus laidojimo rūmų „Ritualas“ pastate Olandų gatvėje 22 atsisveikinama su buvusiais aukštais šalies pareigūnais, žinomais valstybės žmonėmis, tačiau tai nėra vien tik VIP šarvojimo vieta. Užsisakydami mažesnę salę, kitokios rūšies karstą, paprastesnių gėlių puokščių ir panašiai, žmonės gali sutaupyti, bet vis tiek gauti kokybiškas paslaugas ir pagarbiai atsisveikinti su savo artimaisiais. Be to, laidojimo paslaugas mes teikiame ne tik Vilniuje, bet ir kituose miestuose, taip pat ir užsienyje.</p>
<p style="text-align: justify;"><strong>Saugome architektūros autentiškumą ir nuolat atsinaujiname<img class="alignright size-medium wp-image-83" src="http://vlr.lt/wp-content/uploads/2016/02/MG_5279-300x200.jpg" alt="_MG_5279" width="300" height="200" srcset="http://vlr.lt/wp-content/uploads/2016/02/MG_5279-300x200.jpg 300w, http://vlr.lt/wp-content/uploads/2016/02/MG_5279.jpg 640w" sizes="(max-width: 300px) 100vw, 300px"></strong></p>
<p style="text-align: justify;">Pagrindinis mūsų pastatas, kuriame teikiame ritualines šarvojimo paslaugas, yra sostinės centre ir ne veltui vadinamas rūmais – jis yra 4300 kvadratinių metrų dydžio, išsiskiria architektūros grakštumu ir puošniomis interjero detalėmis. Šį pastatą suprojektavo vienas garsiausių 20-ojo amžiaus Lietuvos architektų Česlovas Mazūras.</p>
<p style="text-align: justify;">Ir pastato išorės, ir vidaus interjero atnaujinimo darbus mes vykdome saugodami jų istorinį autentiškumą.&nbsp;Bendradarbiaudami su architekte Jūrate Jankauskaite ir gavę Česlovo Mazūro pritarimą, 2013 metais mes renovavome pirmojo korpuso fasadą ir tris šarvojimo sales. Per atidarymo ceremoniją balandžio 4-ąją jas palaimino Šv. Petro ir Povilo bažnyčios kunigas.</p>
<p style="text-align: justify;"><a class="dt-single-image mfp-ready" href="http://vlr.lt/wp-content/uploads/2016/02/VLR_parduotuve2.jpg" rel="attachment wp-att-85" data-dt-img-description=""><img class="alignright size-medium wp-image-85" src="http://vlr.lt/wp-content/uploads/2016/02/VLR_parduotuve2-300x171.jpg" alt="VLR_parduotuve2" width="300" height="171" srcset="http://vlr.lt/wp-content/uploads/2016/02/VLR_parduotuve2-300x171.jpg 300w, http://vlr.lt/wp-content/uploads/2016/02/VLR_parduotuve2.jpg 716w" sizes="(max-width: 300px) 100vw, 300px"></a>2014 metais atnaujinome parduotuvę, 2015 metais atlikome antrojo korpuso penktosios, septintosios ir dešimtosios salių atnaujinimo darbus. Jos tapo labiau modernios, jaukesnės ir dar patogesnės.</p>
<p>Šiuo metu šarvojimui siūlome 12 salių, kurios skiriasi dydžiu ir interjero stilistika, o iki 15 metrų siekiantis salių aukštis suteikia joms dar daugiau iškilmingumo. Šalia kiekvienos salės įrengti poilsio kambariai.</p>
<p style="text-align: justify;">Siekdami užtikrinti visapusišką pagarbą ir paslaugų kokybę, mes ne tik atnaujiname patalpas, bet ir siūlome naujų paslaugų, pateikiame vis didesnį ritualinių reikmenų pasirinkimą, tobuliname aptarnavimą.</p>
<p style="text-align: justify;"><strong>Esame atsakinga ir atvira visuomenei bendrovė</strong></p>
<p style="text-align: justify;">Mes puoselėjame garbingo verslo principus – laikomės įstatymų, vykdome įsipareigojimus verslo partneriams, paslaugas teikiame už sąžiningą kainą, užtikriname geras darbo sąlygas savo darbuotojams.</p>
<p style="text-align: justify;">Bendraudami su visuomene, skatiname žmones branginti savo gyvenimą, rūpintis artimaisiais ir padėti vienas kitam. Pagal galimybes prisidedame prie švietėjiškos ir labdaringos veiklos, žmonių gyvybę išsaugoti padedančių programų.</p>
<p style="text-align: justify;">Mes visą parą atsiliepiame į skambučius ir patariame artimųjų netekusiems žmonėms.&nbsp;Prisidėdami prie informacijos apie nemokamą pagalbą sklaidos, primename, kad ištikus bėdai galima skambinti bendruoju nemokamu telefonu <strong>112</strong>.</p>
<p style="text-align: justify;">Nemokamos psichologinės pagalbos galima kreiptis šiais numeriais:</p>
<p style="text-align: justify;">Vilties linija – <strong>116123</strong>,<br>
Jaunimo linija – <strong>8 800 28888</strong>,<br>
Vaikų linija – <strong>116111</strong>,<br>
Pagalbos moterims linija – <strong>8 80066366</strong>,<br>
Linija doverija (paaugliams ir jaunimui, rusų kalba) – <strong>8 800 77277</strong>.</p>
<p style="text-align: justify;"><strong>Dalyvaujame Lietuvos ir tarptautinėse organizacijose</strong></p>
<p style="text-align: justify;">Vilniaus laidojimo rūmai „Ritualas“ yra Lietuvos ritualinių paslaugų asociacijos ir Pasaulinės laidojimo paslaugų teikėjų organizacijos (<em>The World Organization of Funeral Operatives</em>) FIAT IFTA narys.</p>

    </div>

</div>





</div>


</div>

<div class="col-md-3" style="height: 1500px;     border-left-style: outset;">
  <div class="col-md-12" style="height: 1500px;">
    <div class="" style=" position: sticky;position: -webkit-sticky; top: 0; padding-top: 40px">
      <h1>Laidojimo rūmai</h1>
        <div class="margin">
          <i class="fa fa-star star-color" aria-hidden="true"></i>
          <i class="fa fa-star star-color" aria-hidden="true"></i>
          <i class="fa fa-star star-color" aria-hidden="true"></i>
          <i class="fa fa-star star-color" aria-hidden="true"></i>
        </div>
      <div class="margin-top-15"></div>
        <h3 style="font-size: 20px;font-weight: 200;margin-bottom: 0px; margin-top: 5px;"><i class="fa fa-map-marker" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #444;">Adresas:</span > Olandų g. 22,  Vilnius</h3>
        <h3 style="font-size: 20px;font-weight: 200;margin-bottom: 0px; margin-top: 5px;"><i class="fa fa-phone" style="color: #333;"  aria-hidden="true"></i>  <span style="font-weight: 400; color: #444;">Telefonas:</span > 869304228</h3>
      <div class="margin-top-15" style="    border-bottom-style: inset;"></div>

        <div>
          <!-- <h2>Paslaugų paketas:</h2> -->

          <div class="form-group">
            <select style="font-weight: 300;font-size: 17px;
    margin-top: 20px;" class="form-control" id="selectMe">
              <option value="option1">Tradicinis Paslaugų Paketas</option>
              <option value="option2">Biudžetinis Paslaugų Paketas</option>
              <option value="option3">Pagarbus Paslaugų Paketas</option>
            </select>
          </div>
        </div>



<div id="option1" class="group">
  <table class="table table-hover" style="margin-bottom: 0px;">
    <tbody style="border-style: hidden;">
      <tr>
        <td><img style="width: 100px; margin: 5px;" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00001-8-1-1024x576.jpg"/></td>
        <td><h4 style="font-size: 14px;margin-bottom: 0px;">Vidutinė salė</h4><p style="font-weight: 300;margin-bottom: 0px;">iki 50 vietu </p><p style="font-weight: 300;margin-bottom: 0px;">Laidojimo Rūmai </p></td>
      </tr>
      <tr>
        <td><img style="width: 100px;margin: 5px;" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/phoca_thumb_l_2-1.png"/></td>
        <td><h4 style="font-size: 14px;margin-bottom: 0px;">Medinis karstas</h4></td>
      </tr>
      <tr>
        <td class="text-center"><img style="width: 100px;margin: 5px;" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/IMG_1103-1-1024x576.jpg"/></td>
        <td><h4 style="font-size: 14px;margin-bottom: 0px;">Laidojimo paslaugų paketas</h4><p style="font-weight: 300;margin-bottom: 0px;">Duobkasiai, geles, tt. </p></td>
<!--         <td><p style="font-weight: 300;margin-bottom: 0px;">palaiku pervezimas </p><p style="font-weight: 300;margin-bottom: 0px;">Laidojimo Rūmai </p></td> -->

      </tr>
    </tbody>
  </table>
  <div class="text-center" style="border-bottom-style: inset;padding-bottom: 5px;border-top-style: outset;">
    <h3><strong>Kaina: </strong>1500 eur</h3>
  </div>
  <div class="text-center">

    <%= link_to "užsakykite", uzsakymo_forma_path(type: "Vidutinis", name: "Laidojimo rūmai", price: 1500, email: "zibutis@matchmythesis.com"), class:"btn btn-warning", style:"font-size: 15px;    margin-top: 20px;"%>
  </div>
</div>


<div id="option2" class="group">
  <table class="table table-hover" style="margin-bottom: 0px;">
    <tbody style="border-style: hidden;">
      <tr>
        <td><img style="width: 100px; margin: 5px;" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00004-6-1-1024x576.jpg"/></td>
        <td><h4 style="font-size: 14px;margin-bottom: 0px;">Maža salė</h4><p style="font-weight: 300;margin-bottom: 0px;">iki 30 vietu </p><p style="font-weight: 300;margin-bottom: 0px;">Laidojimo Rūmai </p></td>
      </tr>
      <tr>
        <td><img style="width: 100px;margin: 5px;" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/phoca_thumb_l_19.png"/></td>
        <td><h4 style="font-size: 14px;margin-bottom: 0px;">Fanierinis karstas</h4></td>
      </tr>
      <tr>
        <td class="text-center"><img style="width: 100px;margin: 5px;" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/IMG_1103-1-1024x576.jpg"/></td>
        <td><h4 style="font-size: 14px;margin-bottom: 0px;">Laidojimo paslaugų paketas</h4><p style="font-weight: 300;margin-bottom: 0px;">Duobkasiai, geles, tt. </p></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" style="border-bottom-style: inset;padding-bottom: 5px;border-top-style: outset;">
    <h3><strong>Kaina: </strong>1000 eur</h3>
  </div>
  <div class="text-center">
    <%= link_to "užsakykite", uzsakymo_forma_path(type: "Biudžetinis", name: "Laidojimo rūmai", price: 1000, email: "zibutis@matchmythesis.com"), class:"btn btn-warning", style:"font-size: 15px;    margin-top: 20px;"%>
  </div>
</div>

<div id="option3" class="group">
  <table class="table table-hover" style="margin-bottom: 0px;">
    <tbody style="border-style: hidden;">
      <tr>
        <td><img style="width: 100px; margin: 5px;" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/www.ManFoto.lt-00005-3-1-1024x576.jpg"/></td>
        <td><h4 style="font-size: 14px;margin-bottom: 0px;">Didelė salė</h4><p style="font-weight: 300;margin-bottom: 0px;">iki 100 vietu </p><p style="font-weight: 300;margin-bottom: 0px;">Laidojimo Rūmai </p></td>
      </tr>
      <tr>
        <td><img style="width: 100px;margin: 5px;" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/phoca_thumb_l_9.png"/></td>
        <td><h4 style="font-size: 14px;margin-bottom: 0px;">Ąžuolinis karstas</h4></td>
      </tr>
      <tr>
        <td class="text-center"><img style="width: 100px;margin: 5px;" class="prof-img" src="http://vlr.lt/wp-content/uploads/2016/02/IMG_1103-1-1024x576.jpg"/></td>
        <td><h4 style="font-size: 14px;margin-bottom: 0px;">Laidojimo paslaugų paketas</h4><p style="font-weight: 300;margin-bottom: 0px;">Duobkasiai, geles, tt. </p></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" style="border-bottom-style: inset;padding-bottom: 5px;border-top-style: outset;">
    <h3><strong>Kaina: </strong>2300 eur</h3>
  </div>
  <div class="text-center">
    <%= link_to "užsakykite", uzsakymo_forma_path(type: "Pagarbus", name: "Laidojimo rūmai", price: 2300, email: "zibutis@matchmythesis.com"), class:"btn btn-warning", style:"font-size: 15px;    margin-top: 20px;"%>
  </div>
</div>
</div>



<script>
  $(document).ready(function () {
  $('.group').hide();
  $('#option1').show();
  $('#selectMe').change(function () {
    $('.group').hide();
    $('#'+$(this).val()).show();
  })
});
</script>



           </div>
</div>
    </div>


<script>

var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: new google.maps.LatLng(54.6878127, 25.30951559999994),
          mapTypeId: 'roadmap'
        });

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

        var features = [
          {
            position: new google.maps.LatLng(54.6878127, 25.30951559999994),
            icon: {url: "http://res.cloudinary.com/dwrc1zdc9/image/upload/v1502901483/rumai.png", scaledSize: new google.maps.Size(168, 60),origin: new google.maps.Point(0,0),anchor: new google.maps.Point(0, 0)}
          }

        ];

        // Create markers.
        features.forEach(function(feature) {
          var marker = new google.maps.Marker({
            animation: google.maps.Animation.DROP,
            position: feature.position,
            icon: feature.icon,
            map: map
          });
        });
      }

    </script>

        <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-z1t9uAJitMyEpaj8CCK3WxtmtHAyNr0&callback=initMap">
    </script>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


<script>
$(function(){

  $(".tab").on("click", function(e){
    // Change active tab
    $(".tab").removeClass('active');
    $(this).addClass('active');
    // Hide all tab-content (use class="hidden")
    $(".tab-content").addClass('hidden');
    // Show target tab-content (use class="hidden")
    $($(this).data('target')).removeClass('hidden');
  });

});
</script>


